.friendCard {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
  text-align: center;
}
.name {
  margin: 0;
}
.online {
  color: rgb(12, 230, 12);
  margin: 0;
}
.offline {
  color: red;
  margin: 0;
}
